<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title">
      <a class="avisits-arrow_back" (click)="onPrevious('your_contacts')"></a>
      <p>Выбор города</p>
      <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-town_selection">
      <span>Онлайн запись</span>
      <h2>Выберите город</h2>
      <form>
        <p>
          <select title="" #selectCity (change)="getSubCities(selectCity.value)">
            <option [value]="-1"> - - Выбирайте город - - </option>
            <option [value]="city.id" *ngFor="let city of cities">{{city.name}}</option>
          </select>
        </p>
        <p *ngIf="cityId > 0">
          <select title="" #selectSubCity (change)="getStreets(selectSubCity.value)">
            <option [value]="-1"> - - Выбирайте район - - </option>
            <option *ngFor="let subCity of subCities" [value]="subCity.id">{{subCity.name}}</option>
          </select>
        </p>
        <p *ngIf="cityId > 0 && subCityId > 0">
          <select title="" #selectStreet (change)="getStreetID(selectStreet.value)">
            <option [value]="-1">- - Выбирайте улицу - -</option>
            <option *ngFor="let street of streets" [value]="street.id">{{street.name}}</option>
          </select>
        </p>
        <input
          class="btn-orange"
          type="button"
          value="продолжить"
          (click)="onNext('salon_list')"
          *ngIf="streetId > 0">
      </form>
    </div>
  </div>
</div>
