<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title">
      <a class="avisits-arrow_back" (click)="onPreview('your_contacts')"></a>
      <p>Выбор города</p>
      <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-town_selection">
      <span>Онлайн запись</span>
      <h2>Выберите город</h2>
      <form>
        <p>
          <select>
            <option>москва</option>
            <option>москва2</option>
            <option>москва3</option>
            <option>москва4</option>
          </select>
        </p>
        <p>
          <select>
            <option >санкт-петербург</option>
            <option>санкт-петербург2</option>
            <option>санкт-петербург3</option>
            <option>санкт-петербург4</option>
          </select>
        </p>
        <p>
          <select>
            <option>казань</option>
            <option>казань2</option>
            <option>казань3</option>
            <option>казань4</option>
          </select>
        </p>
        <input class="btn-orange" type="submit" value="продолжить" (click)="onNext('salon_list')">
      </form>
    </div>
  </div>
</div>
