<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title">
      <a class="avisits-arrow_back" href="#"></a>
      <p>Выбор города</p>
      <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-town_selection">
      <span>Онлайн запись</span>
      <h2>Выберите город</h2>
      <form>
        <p>
          <select>
            <option>москва</option>
          </select>
        </p>
        <p>
          <select>
            <option >санкт-петербург</option>
          </select>
        </p>
        <p>
          <select>
            <option>казань</option>
          </select>
        </p>
        <input class="btn-orange" type="submit" value="продолжить">
      </form>
    </div>
  </div>
</div>