<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title">
        <a class="avisits-arrow_back" (click)="onPrevious('date_time')"></a>
          <p>Информация о записи</p>
          <a class="avisits-close"></a>
      </div>
      <div class="avisits-information">
        <div class="avisits-ready">
            <p>Произвольный текст, который прописывается пользователем в настройках виджета (из панели управления)</p>
          </div>
          <div class="avisits-ser">
            <h3>Услуги</h3>
              <ul>
                <li>
                    <p>Стрижка горячими ножницами</p>
                      <span>1ч 20м</span>
                      <strong>2 000р</strong>
                  </li>
                  <li>
                    <p>Стрижка</p>
                      <span>45м</span>
                      <strong>900р</strong>
                  </li>
                  <li>
                    <p>Окрашивание волос</p>
                      <span>1ч 40м</span>
                      <strong>2 000р</strong>
                  </li>
              </ul>
          </div>
          <div class="avisits-specialist">
            <h3>Специалист</h3>
              <div class="visits-special-ava">
                <div><img [src]="recordInfo.specialist.img" alt=""></div>
                  <h4>{{recordInfo.specialist.name}}</h4>
                  <p>{{recordInfo.specialist.profession}}</p>
              </div>
          </div>
          <div class="avisits-contact-info">
            <h3>ваша контактная информация</h3>
              <div>
                <p>{{recordInfo.client.name}}</p>
                  <span>{{recordInfo.client.phone}}<a href="#">{{recordInfo.client.email}}</a></span>
              </div>
          </div>
      </div>
      <div class="avisits-salon_buttons">
         <a href="#">Закрыть</a>
         <p>Работает на aVisits.</p>
     </div>
  </div>
</div>
