<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title avisits-main_title_date">
        <a class="avisits-arrow_back" href="#"></a>
          <p>Время записи</p>
          <a class="avisits-close" href="#"></a>
          <div class="avisits-date">
            <h2>Ноябрь</h2>
              <div class="avisits-date_slider">
                  <div class="avisits-item">
                      <div class="avisits-col avisits-active">
                          <a href="#">
                              <strong>21</strong>
                              <p>пн</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>22</strong>
                              <p>вт</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>23</strong>
                              <p>ср</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>24</strong>
                              <p>чт</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>25</strong>
                              <p>пт</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>26</strong>
                              <p>сб</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>27</strong>
                              <p>вс</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col avisits-active">
                          <a href="#">
                              <strong>21</strong>
                              <p>пн</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>22</strong>
                              <p>вт</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>23</strong>
                              <p>ср</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>24</strong>
                              <p>чт</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>25</strong>
                              <p>пт</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>26</strong>
                              <p>сб</p>
                          </a>
                      </div>
                  </div>
                  <div class="avisits-item">
                      <div class="avisits-col">
                          <a href="#">
                              <strong>27</strong>
                              <p>вс</p>
                          </a>
                      </div>
                  </div>
              </div>
        </div>
      </div>
      <div class="avisits-calendar">
        <div class="avisits-item">
            <h4>Утро</h4>
              <table>
                <tr>
                    <td><a href="#">10:00<span>11:45</span></a></td>
                      <td><a href="#">10:15<span>12:00</span></a></td>
                      <td><a href="#">10:30<span>12:15</span></a></td>
                      <td><a href="#">10:45<span>12:30</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">11:00<span>12.45</span></a></td>
                      <td><a href="#">11:15<span>13.00</span></a></td>
                      <td><a href="#">11:30<span>13.15</span></a></td>
                      <td><a href="#">11:45<span>13.30</span></a></td>
                  </tr>
              </table>
          </div>
          <div class="avisits-item">
            <h4>День</h4>
              <table>
                <tr>
                    <td><a href="#">12:00<span>13:45</span></a></td>
                      <td><a href="#" class="avisits-active">12:15<span>14.00</span></a></td>
                      <td><a href="#">12:30<span>14.15</span></a></td>
                      <td><a href="#">12:45<span>14.30</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">13:00<span>14:45</span></a></td>
                      <td><a href="#">13:15<span>15:00</span></a></td>
                      <td><a href="#">13:30<span>15:15</span></a></td>
                      <td><a href="#">13:45<span>15:30</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">14:00<span>15:45</span></a></td>
                      <td><a href="#">14:15<span>16:00</span></a></td>
                      <td><a href="#">14:30<span>16:15</span></a></td>
                      <td><a href="#">14:45<span>16:30</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">15:00<span>16:45</span></a></td>
                      <td><a href="#">15:15<span>17:00</span></a></td>
                      <td><a href="#">15:30<span>17:15</span></a></td>
                      <td><a href="#">15:45<span>17:30</span></a></td>
                  </tr>
              </table>
          </div>
          <div class="avisits-item">
            <h4>Вечер</h4>
              <table>
                <tr>
                    <td><a href="#">18:00<span>20:00</span></a></td>
                      <td><a href="#">18:15<span>20:15</span></a></td>
                      <td><a href="#">18:30<span>20:30</span></a></td>
                      <td><a href="#">18:45<span>20:45</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="#">11:00<span>12.45</span></a></td>
                      <td><a href="#">11:15<span>13.00</span></a></td>
                      <td><a href="#">11:30<span>13.15</span></a></td>
                      <td><a href="#">11:45<span>13.30</span></a></td>
                  </tr>
              </table>
          </div>
          <div class="avisits-salon_buttons">
            <a href="#">Продолжить</a>
              <p>Работает на aVisits.</p>
          </div>
      </div>
  </div>
</div>