<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title">
      <a class="avisits-arrow_back" (click)="onPrevious('services')"></a>
      <p>Выбор специалиста</p>
      <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-professional_choice">
      <div class="avisits-row">
        <a (click)="onNext('date_time')">Любой специалист</a>
      </div>
      <div class="avisits-professional_box">
        <div id="scrollbox">
          <ul>
            <li *ngFor="let specialist of specialists" (click)="selectSpecialist(specialist)">
              <a>
                <div class="avisits-img"><img [src]="specialist.img" alt="">
                  <div *ngIf="specialist === selectedSpecialist" class="active"></div>
                </div>
                <div class="avisits-text">
                  <h4>{{specialist.name}}</h4>
                  <p>{{specialist.profession}}</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer">
          <a (click)="onNext('date_time')" class="next" *ngIf="selectedSpecialist">Продолжить</a>
          <p>Работает на aVisits.</p>
        </div>
      </div>
    </div>
  </div>
</div>
