<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title">
        <a class="avisits-arrow_back" (click)="onPrevious('services')"></a>
          <p>Выбор специалиста</p>
          <a class="avisits-close" href="#"></a>
      </div>
      <div class="avisits-professional_choice">
        <div class="avisits-row">
            <a (click)="onNext('date_time')">Любой специалист</a>
          </div>
          <div class="avisits-professional_box">
              <div id="scrollbox">
                  <ul>
                      <li>
                        <a href="#">
                              <div class="avisits-img"><img src="assets/images/professional_choice/img1.jpg" alt=""></div>
                              <div class="avisits-text">
                                  <h4>Сергеева Анна</h4>
                                  <p>Парикмахер-стилист</p>
                              </div>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                              <div class="avisits-img"><img src="assets/images/professional_choice/img2.jpg" alt=""></div>
                              <div class="avisits-text">
                                  <h4>Екатерина Яковлева</h4>
                                  <p>Парикмахер-стилист</p>
                              </div>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                              <div class="avisits-img"><img src="assets/images/professional_choice/img3.jpg" alt=""></div>
                              <div class="avisits-text">
                                  <h4>Анастасия Бровко</h4>
                                  <p>Парикмахер-стилист</p>
                              </div>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                              <div class="avisits-img"><img src="assets/images/professional_choice/img4.jpg" alt=""></div>
                              <div class="avisits-text">
                                  <h4>Юлия Ларина</h4>
                                  <p>Парикмахер-стилист</p>
                              </div>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                              <div class="avisits-img"><img src="assets/images/professional_choice/img1.jpg" alt=""></div>
                              <div class="avisits-text">
                                  <h4>Сергеева Анна</h4>
                                  <p>Парикмахер-стилист</p>
                              </div>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                              <div class="avisits-img"><img src="assets/images/professional_choice/img2.jpg" alt=""></div>
                              <div class="avisits-text">
                                  <h4>Екатерина Яковлева</h4>
                                  <p>Парикмахер-стилист</p>
                              </div>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                              <div class="avisits-img"><img src="assets/images/professional_choice/img3.jpg" alt=""></div>
                              <div class="avisits-text">
                                  <h4>Анастасия Бровко</h4>
                                  <p>Парикмахер-стилист</p>
                              </div>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                              <div class="avisits-img"><img src="assets/images/professional_choice/img4.jpg" alt=""></div>
                              <div class="avisits-text">
                                  <h4>Юлия Ларина</h4>
                                  <p>Парикмахер-стилист</p>
                              </div>
                          </a>
                      </li>
                  </ul>
              </div>
              <p>Работает на aVisits.</p>
          </div>
      </div>
  </div>
</div>
