<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title">
        <a class="avisits-arrow_back" (click)="onpreview('town_selection')"></a>
          <p>Выбор салонов</p>
          <a class="avisits-close" href="#"></a>
      </div>
      <div class="select_button">
        <ul class="tabs">
          <li class="current">Списком</li>
            <li>На карте</li>
          </ul>
      </div>
      <div class="avisits-salon_list">
        <div class="box">
              <div class="avisits-map">
                  <div id="map-canvas"></div>
                  <div class="avisits_slider_map">
                    <div class="avisits_slider">
                        <div class="avisits_item">
                              <div class="avisits_col">
                                  <div class="avisits_img_slider"><img src="assets/images/salon_box/img1.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Непокоренных, 10</h4>
                                      <p>Площадь мужества</p>
                                  </div>
                              </div>
                          </div>
                          <div class="avisits_item">
                              <div class="avisits_col">
                                  <div class="avisits_img_slider"><img src="assets/images/salon_box/img2.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Большая Зеленина, 3</h4>
                                      <p>Чкаловская</p>
                                  </div>
                              </div>
                          </div>
                          <div class="avisits_item">
                              <div class="avisits_col">
                                  <div class="avisits_img_slider"><img src="assets/images/salon_box/img3.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Александра Невского 21 к.2</h4>
                                      <p>Адмиралтейская</p>
                                  </div>
                              </div>
                          </div>
                          <div class="avisits_item">
                              <div class="avisits_col">
                                  <div class="avisits_img_slider"><img src="assets/images/salon_box/img4.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Невский проспект, 23</h4>
                                      <p>Адмиралтейская</p>
                                  </div>
                              </div>
                          </div>
                          <div class="avisits_item">
                              <div class="avisits_col">
                                  <div class="avisits_img_slider"><img src="assets/images/salon_box/img1.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Непокоренных, 10</h4>
                                      <p>Площадь мужества</p>
                                  </div>
                              </div>
                          </div>
                          <div class="avisits_item">
                              <div class="avisits_col">
                                  <div class="avisits_img_slider"><img src="assets/images/salon_box/img2.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Большая Зеленина, 3</h4>
                                      <p>Чкаловская</p>
                                  </div>
                              </div>
                          </div>
                          <div class="avisits_item">
                              <div class="avisits_col">
                                  <div class="avisits_img_slider"><img src="assets/images/salon_box/img3.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Александра Невского 21 к.2</h4>
                                      <p>Адмиралтейская</p>
                                  </div>
                              </div>
                          </div>
                          <div class="avisits_item">
                              <div class="avisits_col">
                                  <div class="avisits_img_slider"><img src="assets/images/salon_box/img4.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Невский проспект, 23</h4>
                                      <p>Адмиралтейская</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="box active">
              <div class="avisits-salon_box">
                  <div id="scrollbox">
                      <ul>
                          <li>
                              <a class="mega__trigger" data-mega="#point1" href="#">
                                  <div class="avisits-img"><img src="assets/images/salon_box/img1.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Непокоренных, 10</h4>
                                      <p>Площадь мужества</p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a class="mega__trigger" data-mega="#point2" href="#">
                                  <div class="avisits-img"><img src="assets/images/salon_box/img2.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Большая Зеленина, 3</h4>
                                      <p>Чкаловская</p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a class="mega__trigger" data-mega="#point3" href="#">
                                  <div class="avisits-img"><img src="assets/images/salon_box/img3.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Александра Невского 21 к.2</h4>
                                      <p>Адмиралтейская</p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a class="mega__trigger" data-mega="#point4" href="#">
                                  <div class="avisits-img">
                                      <div></div>
                                      <img src="assets/images/salon_box/img4.jpg" alt="">
                                  </div>
                                  <div class="avisits-text">
                                      <h4>Невский проспект, 23</h4>
                                      <p>Адмиралтейская</p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a class="mega__trigger" data-mega="#point5" href="#">
                                  <div class="avisits-img"><img src="assets/images/salon_box/img5.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Непокоренных, 10</h4>
                                      <p>Площадь мужества</p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a class="mega__trigger" data-mega="#point6" href="#">
                                  <div class="avisits-img"><img src="assets/images/salon_box/img6.jpg" alt=""></div>
                                  <div class="avisits-text">
                                      <h4>Непокоренных, 10</h4>
                                      <p>Площадь мужества</p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <div class="avisits-img"><img src="assets/images/salon_box/img7.jpg" alt=""></div>
                              <div class="avisits-text">
                                  <h4>Большая Зеленина, 3</h4>
                                  <p>Чкаловская</p>
                              </div>
                          </li>
                      </ul>
                  </div>
             </div>
        </div>
          <div class="avisits-salon_buttons">
            <a (click)="onNext('services_selection')">Продолжить</a>
          </div>
      </div>
  </div>
</div>
