@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i&subset=cyrillic,cyrillic-ext');

.avisits-basic_background:after {
	clear:both;
	content:'';
	display:block;
}

.avisits-basic_background {
	position:fixed;
	background:url(../../assets/images/basic_background.jpg) no-repeat center top;
	background-size:cover;
	width:100%;
	height:100%;
	margin:-8px;
	overflow:auto;
}

.avisits-main_block {
	position:relative;
	background:#fef9f7;
	max-width:500px;
	width:100%;
  height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#3e3f47;
	float:right;
  overflow: auto;
}

.avisits-main_title {
	position:relative;
	background:#fff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(254,129,62,0.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(254,129,62,0.26);
	box-shadow: 0 2px 5px 0 rgba(254,129,62,0.26);
	width:100%;
	height:60px;
}

.avisits-main_title .avisits-arrow_back {
	position:absolute;
	width:35px;
	height:35px;
	top:13px;
	left:10px;
}

.avisits-main_title .avisits-arrow_back:after {
	background:url(../../assets/images/back.png);
	width:15px;
	height:14px;
	color:#fe813e;
	content:'';
	margin:10px 0 0 10px;
	display:block;
}

.avisits-main_title .avisits-arrow_back:hover:after,
.avisits-main_title .avisits-close:hover:after {
	background-position:bottom;
}

.avisits-main_title .avisits-close {
	position:absolute;
	top:24px;
	right:20px;
}

.avisits-main_title .avisits-close:after {
	background:url(../../assets/images/close-title.png);
	width:13px;
	height:12px;
	content:'';
	display:block;
}

.avisits-main_title > p {
	font-size:16px;
	font-weight:600;
	line-height:60px;
	color:#3e3f47;
	text-align:center;
	margin:0;
}


#map-canvas,
.avisits-map {
	position:relative;
	width:100%;
	height:240px;
	overflow:hidden;
}

canvas {
	display:none;
}

.box.visible {
	display:block;
}

.avisits-map .avisits-point {
	background:url(../../assets/images/point-map.png);
	width:26px;
	height:37px;
	position:absolute;
	z-index:10;
}

.avisits-map .avisits-point:hover,
.avisits-map .avisits-point.avisits-active {
	background-position:bottom;
}

.avisits-map .avisits-point1 {
	top:30px;
	left:74px;
}

.avisits-map .avisits-point2 {
	top:100px;
	left:58px;
}

.avisits-map .avisits-point3 {
	bottom:80px;
	left:168px;
}

.avisits-map .avisits-point4 {
	bottom:35px;
	left:235px;
}

.avisits-map .avisits-point5 {
	bottom:70px;
	right:200px;
}

.avisits-map .avisits-point6 {
	top:90px;
	right:80px;
}

.avisits_slider_map {
	width:100%;
	position:absolute;
	left:0;
	bottom:50px;
	z-index:100;
}

.avisits_slider {
	width:100%;
	height:0;
	overflow:hidden;
}

.avisits_col {
	background:#fff;
	border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	-webkit-box-shadow:0 2px 5px 0 rgba(254,129,62,0.26);
    -moz-box-shadow:0 2px 5px 0 rgba(254,129,62,0.26);
    box-shadow:0 2px 5px 0 rgba(254,129,62,0.26);
	width:86%;
	margin:0 auto;
	padding:25px 0;
	display:table;
}

.avisits_slider .slick-center .avisits_col {
	width:99%;
}

.avisits_slider .avisits_item {
	padding-top:10px;
}

.avisits_slider .slick-center {
	padding-top:0;
}

.avisits_img_slider {
	width:50px;
	height:50px;
	margin:0 18px 0 20px;
	float:left;
}

.avisits_slider .slick-center .avisits_col .avisits_img_slider {
	width:70px;
	height:70px;
}

.avisits_img_slider img {
	width:100%;
	height:100%;
	display:block;
}

.avisits_slider h4 {
	font-weight:600;
	font-size:10px;
	margin-bottom:15px;
}

.slick-center .avisits_col h4 {
	font-size:4vw;
}

.avisits_slider p {
	position:relative;
	font-size:8px;
	color:#8f8f94;
	padding-left:133px;
}

.slick-center .avisits_col p {
	font-size:16px;
}

.avisits_slider p:before {
	background:url(../../assets/images/icon-metro.svg);
	width:15px;
	height:15px;
	content:'';
	position:absolute;
	top:2px;
	left:115px;
}

.avisits-salon_box {
	position:relative;
	padding-left:10px;
}

.avisits-salon_box ul {
	margin:0;
	padding:0 10px 0 0;
}

.avisits-salon_box ul li {
	position:relative;
	border-bottom:1px solid #dfdfdf;
	width:100%;
	padding:8px 0;
	cursor:pointer;
	display:table;
}

.avisits-salon_box ul li:hover {
	background:#fef3ed;
	border-color:#fed1b8;
}

.avisits-salon_box ul li:hover:before {
	background:#fed1b8;
	width:100%;
	height:1px;
	content:'';
	position:absolute;
	top:-1px;
	left:0;
}

.avisits-salon_box ul li a {
	text-decoration:none;
	display:block;
}

.avisits-salon_box ul li a:hover {
	text-decoration:none;
}

.avisits-salon_box ul li .avisits-img {
	position:relative;
	width:50px;
	height:50px;
	margin:0 15px 0 10px;
	float:left;
}

.avisits-salon_box ul li .avisits-img div {
	background:url(../../assets/images/mark.png) no-repeat center center, url(../../assets/images/bg-selected.png);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.avisits-salon_box ul li h4,
.avisits-professional_box ul li h4 {
	font-weight:600;
	color:#3e3f47;
	margin:0;
	padding:5px 0 10px;
}

.avisits-salon_box ul li p {
	position:relative;
	color:#8f8f94;
	margin:0;
	padding-left:93px;
}

.avisits-salon_box ul li p:before {
	background:url(../../assets/images/icon-metro.svg);
	width:15px;
	height:15px;
	content:'';
	position:absolute;
	top:0;
	left:75px;
}

.avisits-salon_buttons {
	position:absolute;
	background:#fff;
	-webkit-box-shadow: 0 -2px 5px 0 rgba(254,129,62,0.26);
	-moz-box-shadow: 0 -2px 5px 0 rgba(254,129,62,0.26);
	box-shadow: 0 -2px 5px 0 rgba(254,129,62,0.26);
	width:100%;
	height:75px;
	text-align:center;
	padding-top:10px;
	right:0;
}

.avisits-salon_buttons a {
	background:#fe813e url(../../assets/images/arrow-submit.png) no-repeat 280px center;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:310px;
	height:50px;
	line-height:50px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	display:inline-block;
}

.avisits-salon_buttons p
 {
	font-size:12px;
	color:#909096;
	margin:0;
	padding:5px 0 0;
}

#scrollbox {
	overflow:auto;
}

.avisits-salon_box #scrollbox {
	height:250px;
}



input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    width:14px;
    height:14px;
    margin-right:10px;
    vertical-align:middle;
    background:url(../../assets/images/check-box.png);
	position:absolute;
	top:0;
	left:10px;
}

input[type="checkbox"]:checked + label span {
    background-position:bottom;
}





.select_button {
  background:#fff;
  width:100%;
  text-align:center;
  padding:25px 0 15px;
  display:none;
}

.select_button ul {
  font-size:0;
  text-align:center;
}

.select_button li {
  position:relative;
  border:1px solid #dadae0;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  width:42.3%;
  height:60px;
  font-size:20px;
  line-height:60px;
  color:#8e8e93;
  text-transform:uppercase;
  margin:0 10px 10px;
  cursor:pointer;
  vertical-align:top;
  display:inline-block;
}

.select_button li:hover,
.select_button li.current {
  background:#fe813e;
  border-color:#fe813e;
  color:#fff;
}

.select_button li:after {
  background:url(../../assets/images/after1-select_button.png);
  width:17px;
  height:10px;
  content:'';
  position:absolute;
  top:26px;
  left:3.5vw;
}

.select_button li+li:after {
  background:url(../../assets/images/after2-select_button.png);
  width:10px;
  height:17px;
  top:22px;
  left:6vw;
}

.select_button li+li:hover:after,
.select_button li+li.current:after {
  background:url(../../assets/images/after3-select_button.png);
}


agm-map {
  height: 300px;
}



@media (min-width: 280px) and (max-width: 640px) {


	.box {
		height:0;
		overflow:hidden;
	}
	.box.active,
	.avisits_slider {
		height:100%;
	}
	.avisits-salon_box #scrollbox,
	#map-canvas, .avisits-map {
		height:340px;
	}
	.avisits_slider_map {
		display:block;
	}
}
@media (min-width: 280px) and (max-width: 500px) {
	.avisits-main_block {
		max-width:none;
	}
	.avisits-salon_buttons {
		width:100%;
	}
	.avisits-professional_box ul,
	.avisits-salon_box,
	.avisits-salon_box ul {
		padding:0;
	}
	#scrollbox {
		width:96.5% !important;
	}
	.avisits-services .avisits-box {
		width:160px;
		padding-left:35px;
	}
	.avisits-services .avisits-form_top ul li > span
	 {
		width:50px;
		padding-right:0;
	}
	.slick-prev {
		left:-8px;
	}
	.slick-next {
		right:-8px;
		left:auto;
	}
}
@media (min-width: 280px) and (max-width: 400px) {
	.avisits-services .avisits-row ul {
		width:100%;
		margin:0 auto 10px;
		display:table;
	}
	.avisits-services .avisits-row ul li {
		margin:0;
		display:table-cell;
	}
	.avisits-services .avisits-row a,
	.avisits-salon_buttons a {
		border-radius:0;
		width:98%;
	}
}
@media (min-width: 280px) and (max-width: 380px) {

  .select_button {
    display:block;
  }

	.avisits-services .avisits-row {
		position:static;
		margin-top:15px;
	}
	.avisits-ser ul li {
		font-size:12px;
	}
	.avisits-ser ul li span {
		width:40px;
	}

}
@media (min-width: 280px) and (max-width: 330px) {
	.avisits-basic_background {
		position:static;
		height:auto;
	}
	.avisits-salon_buttons {
		position:static;
		margin-top:15px;
	}

	.avisits-town_selection {
		height:100vw;
	}
	.slick-center .avisits_col {
		position:relative;
		width:300px !important;
		top:0;
		left:50%;
		margin-left:-150px;
		opacity:1;
	}
	.avisits_col {
		opacity:0;
	}
}
