<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title">
      <a class="avisits-arrow_back" (click)="onPreview('services_selection')"></a>
      <p>Парикмахерские услуги</p>
      <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-services">
      <div class="avisits-form_top">
        <form>
          <ul>
            <li>
              <div class="avisits-box">
                <input type="checkbox" id="c1" name="cc" checked/>
                <label for="c1"><span></span>Стрижка горячим утюгом</label>
              </div>
              <span>1ч 45м</span>
              <p>2 000р</p>
            </li>
            <li>
              <div class="avisits-box">
                <input type="checkbox" id="c2" name="cc"/>
                <label for="c2"><span></span>Стрижка</label>
              </div>
              <span>45м</span>
              <p>900р</p>
            </li>
            <li>
              <div class="avisits-box">
                <input type="checkbox" id="c3" name="cc"/>
                <label for="c3"><span></span>Окрашивание волос</label>
              </div>
              <span>1ч 45м</span>
              <p>900р</p>
            </li>
          </ul>
        </form>
      </div>
      <div class="avisits-form_middle">
        <form>
          <ul id="accordion">
            <li appAccordion>
              <a href="#">Уход за руками и ногами</a>
              <ul>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d1" name="dd"/>
                    <label for="d1"><span></span>Стрижка</label>
                  </div>
                  <span>45м</span>
                  <p>900р</p>
                </li>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d2" name="dd"/>
                    <label for="d2"><span></span>Стрижка горячими ножницами</label>
                  </div>
                  <span>30м</span>
                  <p>2 000р</p>
                </li>
              </ul>
            </li>
            <li appAccordion>
              <a href="#">Солярий</a>
              <ul>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d3" name="dd"/>
                    <label for="d3"><span></span>Стрижка</label>
                  </div>
                  <span>45м</span>
                  <p>900р</p>
                </li>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d4" name="dd"/>
                    <label for="d4"><span></span>Стрижка горячими ножницами</label>
                  </div>
                  <span>30м</span>
                  <p>2 000р</p>
                </li>
              </ul>
            </li>
            <li appAccordion>
              <a href="#">Косметология</a>
              <ul>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d5" name="dd"/>
                    <label for="d5"><span></span>Стрижка</label>
                  </div>
                  <span>45м</span>
                  <p>900р</p>
                </li>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d6" name="dd"/>
                    <label for="d6"><span></span>Стрижка горячими ножницами</label>
                  </div>
                  <span>30м</span>
                  <p>2 000р</p>
                </li>
              </ul>
            </li>
            <li appAccordion>
              <a href="#">Визаж</a>
              <ul>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d7" name="dd"/>
                    <label for="d7"><span></span>Стрижка</label>
                  </div>
                  <span>45м</span>
                  <p>900р</p>
                </li>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d8" name="dd"/>
                    <label for="d8"><span></span>Стрижка горячими ножницами</label>
                  </div>
                  <span>30м</span>
                  <p>2 000р</p>
                </li>
              </ul>
            </li>
            <li appAccordion>
              <a href="#">Солярий</a>
              <ul>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d9" name="dd"/>
                    <label for="d9"><span></span>Стрижка</label>
                  </div>
                  <span>45м</span>
                  <p>900р</p>
                </li>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d10" name="dd"/>
                    <label for="d10"><span></span>Стрижка горячими ножницами</label>
                  </div>
                  <span>30м</span>
                  <p>2 000р</p>
                </li>
              </ul>
            </li>
            <li appAccordion>
              <a href="#">Косметология</a>
              <ul>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d11" name="dd"/>
                    <label for="d11"><span></span>Стрижка</label>
                  </div>
                  <span>45м</span>
                  <p>900р</p>
                </li>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d12" name="dd"/>
                    <label for="d12"><span></span>Стрижка горячими ножницами</label>
                  </div>
                  <span>30м</span>
                  <p>2 000р</p>
                </li>
              </ul>
            </li>
            <li appAccordion>
              <a href="#">Визаж</a>
              <ul>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d13" name="dd"/>
                    <label for="d13"><span></span>Стрижка</label>
                  </div>
                  <span>45м</span>
                  <p>900р</p>
                </li>
                <li>
                  <div class="avisits-box">
                    <input type="checkbox" id="d14" name="dd"/>
                    <label for="d14"><span></span>Стрижка горячими ножницами</label>
                  </div>
                  <span>30м</span>
                  <p>2 000р</p>
                </li>
              </ul>
            </li>
          </ul>
        </form>
      </div>
      <div class="avisits-row">
        <h3>Добавлено</h3>
        <ul>
          <li>
            <div><i class="icon_ser"></i><strong>3</strong></div>
            <p>услуги</p>
          </li>
          <li>
            <div><i class="icon_pri"></i><strong>4 900</strong></div>
            <p>рублей</p>
          </li>
          <li>
            <div><i class="map icon_clock"></i><strong>4 15</strong></div>
            <p>часа минут</p>
          </li>
        </ul>
        <a (click)="onNext('select_specialist')">Продолжить</a>
        <p>Работает на aVisits.</p>
      </div>
    </div>
  </div>
</div>
