<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title">
      <a class="avisits-arrow_back" (click)="onPreview('salon_list')"></a>
      <p>Выбор услуг</p>
      <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-services avisits-services_sel">
      <div id="scrollbox">
        <ul>
          <li><a href="#">Парикмахерские услуги<span>1</span></a></li>
          <li><a href="#">Уход за руками и ногами</a></li>
          <li><a href="#">Косметология</a></li>
          <li><a href="#">Визаж</a></li>
          <li><a href="#">Солярий</a></li>
          <li><a href="#">Парикмахерские услуги</a></li>
          <li><a href="#">Уход за руками и ногами</a></li>
          <li><a href="#">Косметология</a></li>
          <li><a href="#">Визаж</a></li>
          <li><a href="#">Солярий</a></li>
          <li><a href="#">Парикмахерские услуги</a></li>
          <li><a href="#">Уход за руками и ногами</a></li>
          <li><a href="#">Косметология</a></li>
          <li><a href="#">Визаж</a></li>
          <li><a href="#">Солярий</a></li>
          <li><a href="#">Парикмахерские услуги</a></li>
          <li><a href="#">Уход за руками и ногами</a></li>
          <li><a href="#">Косметология</a></li>
          <li><a href="#">Визаж</a></li>
          <li><a href="#">Солярий</a></li>
        </ul>
      </div>
      <div class="avisits-row">
        <h3>Добавлено</h3>
        <ul>
          <li>
            <div><i class="map icon_ser"></i><strong>3</strong></div>
            <p>услуги</p>
          </li>
          <li>
            <div><i class="map icon_pri"></i><strong>4 900</strong></div>
            <p>рублей</p>
          </li>
          <li>
            <div><i class="map icon_clock"></i><strong>4 15</strong></div>
            <p>часа  минут</p>
          </li>
        </ul>
        <a (click)="onNext('services')">Продолжить</a>
        <p>Работает на aVisits.</p>
      </div>
    </div>
  </div>
</div>
