<div class="avisits-basic_background">
  <div class="avisits-main_block">
    <div class="avisits-main_title">
      <a class="avisits-arrow_back" href="#"></a>
      <p>Ваши контакты</p>
      <a class="avisits-close"></a>
    </div>
    <div class="avisits-town_selection avisits-your_contacts">
      <span>Онлайн запись</span>
      <h2>Ваши контакты</h2>
      <form>
        <span><input type="tel" placeholder="Ваш телефон"></span>
        <span><input type="text" placeholder="Ваше имя"></span>
        <span class="avisits-error"><input type="email" placeholder="client_email@gmail.com"></span>
        <input type="submit" value="продолжить" (click)="onNext('town_selection')">
      </form>
    </div>
  </div>
</div>
